<div class="board-container">
  <ng-container *ngFor="let row of pieces$ | async; let i = index">
    <div class="box">
      <app-field  *ngFor="let piece of row ; let j = index" [isWhite]="(j + i % 2) % 2 === 0 ? true : false" [piece]="piece" [FieldIndex]="{column: i, row: j}"></app-field>
    </div>
  </ng-container>
</div>
