<ng-container *ngIf="selectedCanMove$ | async as selectedCanMove">
  <ng-container *ngIf="selectedPiece$ | async as selectedPiece">
    <ng-container *ngIf="pieces$ | async as pieces">
      <div class="box" ngModel [ngClass]="{'white':isWhite , 'selected': selectedPiece === FieldIndex, 'can-move': checkCanMove(selectedCanMove)  }" (click)="changeSelection(pieces)" (click)="moveFigure(selectedCanMove, selectedPiece, pieces)">
        <img *ngIf="piece !== PieceEnum.Empty" src="assets\icons\{{piece}}.svg">
      </div>
    </ng-container>
  </ng-container>
</ng-container>

