.box{
  width: 80px;
  height: 80px;
  display: flex;
  background-color: #3b3b3b;
  &.white{
    background-color: #b3b3b3;
  }

  &.selected{
    background-color: orange;
  }
  &.can-move{
    background-color:adjust-hue($color: yellow, $degrees: 10)
  }

}
